img{
    max-width: 100%;
    height: auto;
}
body{
    max-width: 100%;
    height: auto;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
video{
    max-width: 100%;
    height: auto;
    
}
h1{
  max-width: 100%;
  height: auto; 
  color: #04AA6D;
  text-align: center;
  user-select: none;
}
h1:hover{
  color:black;
  text-decoration: underline;
  font-style: italic;
}
p{
  max-width: 100%;
  height: auto;
  text-align: justify;
  font-size: 20px;
}
#footer{
  text-align: right; 
}
footer{
  background-color: #04AA6D;
}
